@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@

@* The fun starts here *@

@{
    var homePage = @Model.AncestorsOrSelf(1).First();
    var contactFormUrl = homePage.Descendants("Contactpage").First().NiceUrl;
    var url = contactFormUrl;
}



<aside id="phoneBox">
    <div class="ease"><i class="fa fa-phone">&nbsp;&nbsp;916143798</i></div>
</aside>

<aside id="contactBox">
    <div class="ease"><a href="@contactFormUrl?id=@Model.Id" id="EmailContactAnchor"><i class="fa fa-envelope"></i></a></div>
</aside>

