<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT AboutUs ANY>
<!ATTLIST AboutUs id ID #REQUIRED>
<!ELEMENT Comment ANY>
<!ATTLIST Comment id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT DoctorProfile ANY>
<!ATTLIST DoctorProfile id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT Mais ANY>
<!ATTLIST Mais id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>
<!ELEMENT ThankYouPage ANY>
<!ATTLIST ThankYouPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-05T15:20:27" updateDate="2014-07-23T17:32:39" nodeName="24 Dentistas de Lisboa" urlName="24-dentistas-de-lisboa" path="-1,1068" isDoc="" nodeType="1056" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <umbTextPage id="1086" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2014-07-05T21:49:18" updateDate="2014-07-24T22:20:07" nodeName="Implantes dentarios" urlName="implantes-dentarios" path="-1,1068,1086" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <Comment id="1101" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2014-07-07T17:51:59" updateDate="2014-07-17T21:45:40" nodeName="comentario" urlName="comentario" path="-1,1068,1086,1101" isDoc="" nodeType="1100" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1099" nodeTypeAlias="Comment">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <name><![CDATA[Rui]]></name>
        <email><![CDATA[rui_jose_nunes@hotmail.com]]></email>
        <comment><![CDATA[Este é o meu comentário]]></comment>
      </Comment>
      <Comment id="1102" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2014-07-09T16:52:00" updateDate="2014-07-17T21:45:53" nodeName="comentario (1)" urlName="comentario-1" path="-1,1068,1086,1102" isDoc="" nodeType="1100" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1099" nodeTypeAlias="Comment">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <name><![CDATA[Rui Nunes]]></name>
        <email><![CDATA[rui_jose_nunes@hotmail.com]]></email>
        <comment><![CDATA[O meu segundo comentario]]></comment>
        <dateAndTime><![CDATA[7/9/2014]]></dateAndTime>
      </Comment>
      <Comment id="1103" parentID="1086" level="3" creatorID="0" sortOrder="2" createDate="2014-07-09T17:10:16" updateDate="2014-07-17T21:46:03" nodeName="comentario (2)" urlName="comentario-2" path="-1,1068,1086,1103" isDoc="" nodeType="1100" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1099" nodeTypeAlias="Comment">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <name><![CDATA[Rui]]></name>
        <email><![CDATA[rui_jose_nunes@hotmail.com]]></email>
        <comment><![CDATA[O meu terceiro comentario]]></comment>
        <dateAndTime><![CDATA[09/07/2014 17:10]]></dateAndTime>
      </Comment>
      <Comment id="1104" parentID="1086" level="3" creatorID="0" sortOrder="3" createDate="2014-07-09T19:54:46" updateDate="2014-07-17T21:46:17" nodeName="comentario (3)" urlName="comentario-3" path="-1,1068,1086,1104" isDoc="" nodeType="1100" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1099" nodeTypeAlias="Comment">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <name><![CDATA[Rui]]></name>
        <email><![CDATA[rui_jose_nunes@hotmail.com]]></email>
        <comment><![CDATA[ok]]></comment>
        <dateAndTime><![CDATA[09/07/2014 19:54]]></dateAndTime>
      </Comment>
      <Comment id="1105" parentID="1086" level="3" creatorID="0" sortOrder="4" createDate="2014-07-09T19:59:52" updateDate="2014-07-17T21:46:36" nodeName="comentario (4)" urlName="comentario-4" path="-1,1068,1086,1105" isDoc="" nodeType="1100" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1099" nodeTypeAlias="Comment">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <name><![CDATA[Rui]]></name>
        <email><![CDATA[rui_jose_nunes@hotmail.com]]></email>
        <comment><![CDATA[Mais um comentario]]></comment>
        <dateAndTime><![CDATA[09/07/2014 19:59]]></dateAndTime>
      </Comment>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>0</hideInFooter>
      <title><![CDATA[Implantes dentários]]></title>
      <metaDescription><![CDATA[Especialistas em implantes dentarios no centro de Lisboa. Equipa esperiente e profissional. Ambiente acolhedor.]]></metaDescription>
      <metaKeywords><![CDATA[implantes, implante dentario,  carga imediata, prótese dentaria]]></metaKeywords>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1002/24dentistas-lisboa-implantes-dentarios.jpg]]></image>
      <bodyText><![CDATA[<p>Os <strong>implantes dentários</strong>, também designados de <strong>próteses dentárias</strong>, são esteticamente bastante avançadas, sendo difíceis de distinguir de dentes naturais. Devolvem ao paciente a função mastigatória, proporcionando segurança e conforto.</p>
<p>O implante dentário adequado requere um análise cuidada da situação do paciente. Por exemplo, situações de falta de osso ou de esteticamente exigentes, requerem uma solução devidamente pensada.</p>
<p>A experiente equipa de 24DentistaLisboa oferece-lhe serviços de diagnóstico e planificação para que tenha o implante adequado, proporcionando-lhe uma solução esteticamente natural.</p>
<p> </p>
<h3>Quais as fases do tratamento com implantes dentários?</h3>
<p>O tratamento com <strong>implantes dentários</strong> envolve as seguintes fases:</p>
<ol>
<li>Diagnóstico – O dentista determina se um implante é a solução indicada para o doente. São realizados exames Raio-X e tomografia computorizada para determinar se estão reunidas as condições para um implante dentário. Por exemplo, a existência de uma quantidade de osso suficiente é um requisito necessário para um <strong>implante dentário</strong></li>
<li>Inserção do implante dentário – É colocado o implante sobre anestesia local.</li>
<li>Cicatrização – Os pontos são removidos após uma semana, podendo a cicatrização durar alguns meses</li>
<li>Colocação – A coroa é feita no laboratório odontológico, sendo a prótese inserida após a cicatrização</li>
</ol>
<p>Vantagens de um implante dentário</p>
<p>O implante dentário apresenta as seguintes vantagens:</p>
<ul>
<li>Ajuda a diminuir o processo de perda óssea nos ossos maxilares</li>
<li>Oferece um conforto muito maior que as dentaduras fixas</li>
<li>Não sobrecarregam os dentes naturais como acontece com as próteses removíveis (dentaduras)</li>
<li>Aumento da eficiência mastigatória, auto-confiança e auto-estima</li>
<li>judam a controlar e melhorar contornos faciais de forma a evitar rugas prematuras</li>
<li>Em alguns casos dicção mais clara</li>
</ul>
<p>A mais recente técnica designada por carga imediata, permite que se reduza o tempo de introdução da prótese para algumas horas.</p>
<h3>Quanto tempo duram os implantes dentários?</h3>
<p>No caso de uma higiene oral satisfatória, um <strong>implante dentário</strong> pode durar 15 anos. As doenças das gengivas são o principal fator que pode interferir com a durabilidade de um implante dentário.</p>
<h3>É um tratamento doloroso?</h3>
<p>O implante dentário é realizado com anestesia local, sendo um tratamento perfeitamente seguro e confortável. Após a cirurgia, poderá haver algum desconforto nos primeiros dias. No entanto, o dentista poderá receitar alguns medicamentos que ajudarão a acalmar o desconforto.</p>
<h3>O que é a carga imediata?</h3>
<p>A <strong>carga imediata</strong> é uma técnica inovadora que permite a aceleração a introdução do implante. Em geral, apresenta resultados mais rápidos e seguros para o paciente. A técnica da carga imediata permite que o implante e a prótese dentária seja efetuada no mesmo dia. A carga imediata apresenta as seguintes vantagens:</p>
<ul>
<li>Redução dos riscos de infeção devido ao menor tempo de recuperação</li>
<li>Mais económico para o paciente uma vez que requere menos visitas ao dentistas</li>
<li>Maior conforto para o cliente, uma vez que não terá de enfrentar as restrições alimentares durante o processo de espera do método tradicional</li>
</ul>
<p>Apesar das vantagens, a carga imediata não é aconselhável a todos os casos. Os casos elegíveis para a carga imediata são:</p>
<ul>
<li>Pacientes que necessitem de apenas um implante. A intervenção em pacientes que necessitem de vários implantes pode se tornar complicada</li>
<li>Pacientes que necessitem de substituir as suas próteses</li>
</ul>
<p>Para que o tratamento carga imediata possa ser realizado com sucesso é necessário que o paciente tenha uma densidade óssea.</p>]]></bodyText>
      <titlePageLink1><![CDATA[Ortodontia]]></titlePageLink1>
      <titlePageLink2><![CDATA[Aparelhos dentarios]]></titlePageLink2>
      <titlePageLink3><![CDATA[Implantes dentarios]]></titlePageLink3>
      <videoUrl><![CDATA[//www.youtube.com/embed/JMs1DZrujas?list=PL862653653D26366C]]></videoUrl>
      <imageAltDesc><![CDATA[24dentistas de lisboa servico de implantes dentarios]]></imageAltDesc>
      <bodyTextShortIntroduction><![CDATA[<p><span class="lead">O <strong>implante dentário</strong> é uma pequena peça feita de titânio ou cerâmica, cirurgicamente instalado no lugar da raiz onde antes existia um dente natural, servindo para fixar um <strong>dente artificial</strong> ou <strong>coroa</strong> à mandibula.</span></p>]]></bodyTextShortIntroduction>
    </umbTextPage>
    <AboutUs id="1085" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2014-07-05T18:12:59" updateDate="2014-07-23T21:34:05" nodeName="A clinica" urlName="a-clinica" path="-1,1068,1085" isDoc="" nodeType="1081" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1080" nodeTypeAlias="AboutUs">
      <DoctorProfile id="1106" parentID="1085" level="3" creatorID="0" sortOrder="0" createDate="2014-07-14T17:29:16" updateDate="2014-07-23T19:39:16" nodeName="Silvia Castro" urlName="silvia-castro" path="-1,1068,1085,1106" isDoc="" nodeType="1079" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1078" nodeTypeAlias="DoctorProfile">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <title><![CDATA[Silvia Castro]]></title>
        <facebookLink><![CDATA[https://www.facebook.com/rui.nunes.5076]]></facebookLink>
        <likedinLink><![CDATA[https://www.linkedin.com/in/ruinunescarraca]]></likedinLink>
        <twitterlink><![CDATA[https://twitter.com/RuiCarraca]]></twitterlink>
        <doctorName><![CDATA[Dra Silvia Castro]]></doctorName>
        <image><![CDATA[/media/1017/24-dentistas-lisboa-silvia-castro.jpg]]></image>
        <jobTitle><![CDATA[Odontopediatria]]></jobTitle>
        <shortDescription><![CDATA[Especialista em odontopediatria. Dez anos de experiência nesta área. Tem um especial prazer em lidar com crianças. Formada pela universidade de Lisboa.]]></shortDescription>
        <googlePlusLink><![CDATA[https://plus.google.com/u/0/109168776918844066862/about]]></googlePlusLink>
        <imageAltDesc><![CDATA[24dentistas de lisboa Dra Silvia-castro]]></imageAltDesc>
      </DoctorProfile>
      <DoctorProfile id="1107" parentID="1085" level="3" creatorID="0" sortOrder="1" createDate="2014-07-14T17:31:42" updateDate="2014-07-23T19:48:08" nodeName="Manuela Nunes" urlName="manuela-nunes" path="-1,1068,1085,1107" isDoc="" nodeType="1079" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1078" nodeTypeAlias="DoctorProfile">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <title><![CDATA[Manuela Nunes]]></title>
        <facebookLink><![CDATA[https://www.facebook.com/rui.nunes.5076]]></facebookLink>
        <likedinLink><![CDATA[https://www.linkedin.com/in/ruinunescarraca]]></likedinLink>
        <doctorName><![CDATA[Dra Manuela Nunes]]></doctorName>
        <image><![CDATA[/media/1015/24-dentistas-lisboa-manuela-nunes.jpg]]></image>
        <jobTitle><![CDATA[Implantes dentarios]]></jobTitle>
        <shortDescription><![CDATA[Especialista em implantes dentários e com um enorme sentido de humor. Profissional experiente, trata dos seus implantes. Formada pela Universidade de Londres.]]></shortDescription>
        <googlePlusLink><![CDATA[https://plus.google.com/u/0/109168776918844066862/about]]></googlePlusLink>
        <imageAltDesc><![CDATA[24dentistas de lisboa Dra Manuela Nunes]]></imageAltDesc>
      </DoctorProfile>
      <DoctorProfile id="1108" parentID="1085" level="3" creatorID="0" sortOrder="2" createDate="2014-07-14T17:34:30" updateDate="2014-07-23T19:45:05" nodeName="Paulo Amaral" urlName="paulo-amaral" path="-1,1068,1085,1108" isDoc="" nodeType="1079" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1078" nodeTypeAlias="DoctorProfile">
        <umbracoNaviHide>1</umbracoNaviHide>
        <hideInFooter>1</hideInFooter>
        <title><![CDATA[Paulo Amaral]]></title>
        <facebookLink><![CDATA[https://www.facebook.com/rui.nunes.5076]]></facebookLink>
        <likedinLink><![CDATA[https://www.linkedin.com/in/ruinunescarraca]]></likedinLink>
        <doctorName><![CDATA[Dr Paulo Amaral]]></doctorName>
        <image><![CDATA[/media/1016/24-dentistas-lisboa-paulo-amaral.jpg]]></image>
        <jobTitle><![CDATA[Ortodontia e cirúrgia oral]]></jobTitle>
        <shortDescription><![CDATA[O nosso profisional mais experiente. Dedicado a todos os aspetos de ortodontia, aparelhos dentário e cirúrgia oral.]]></shortDescription>
        <imageAltDesc><![CDATA[24dentistas de lisboa Dr Paulo Amaral]]></imageAltDesc>
      </DoctorProfile>
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>0</hideInFooter>
      <title><![CDATA[A clinica]]></title>
      <metaDescription><![CDATA[Clinica dentária situada no centro de Lisboa que presta todo o tipo de tratamentos dentários em Lisboa. Com profissionais competentes e num ambiente acolhedor, destaca-se pelo serviço de implantes, branqueamento, ortodontia e odontopediatria.]]></metaDescription>
      <metaKeywords><![CDATA[confiança, profissionalismo, experiencia, dentistas Lisboa]]></metaKeywords>
      <smallTitleAboutPageAltDesc><![CDATA[24dentistas de lisboa a rececao da nossa clinica]]></smallTitleAboutPageAltDesc>
      <imageAboutPageAltDesc><![CDATA[24dentistas de lisboa a rececao da nossa clinica]]></imageAboutPageAltDesc>
      <aboutTitle><![CDATA[A nossa clinica]]></aboutTitle>
      <smallTitleAboutPage><![CDATA[Bem-vindo!]]></smallTitleAboutPage>
      <aboutPageDescription><![CDATA[<p>A clinica 24 Dentistas de Lisboa tem uma arquitectura moderna e acolhedora, com o objetivo de que tenha uma estadia agradável na nossa clinica. A arquitetura e decoração de interior foram desenvolvidos para lhe transmitir uma sensação de conforto e relaxamento. Os consultórios médicos são de cores que lhe transmitem uma sensção de segurança.</p>
<p>Os nossos colaboradores são simpáticos e prestáveis, tendo atenção a todas as suas necessidades, proporcionando-lhe um ambiente jovem, positivo e saudável. </p>
<p>As crianças não são esquecidas na nossa clinica, uma vez que contém espaços especialmente concebidos para os mais pequenos.</p>
<p> </p>]]></aboutPageDescription>
      <imageAboutPage><![CDATA[/media/1001/24-dentsitas-de-lisboa-recepcao-clinica.jpg]]></imageAboutPage>
      <titleOurTeam><![CDATA[A nossa equipa]]></titleOurTeam>
      <descriptionTitle><![CDATA[Ambiente moderno e acolhedor]]></descriptionTitle>
    </AboutUs>
    <umbTextPage id="1087" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2014-07-05T21:51:08" updateDate="2014-07-24T22:21:54" nodeName="Branqueamento dentario" urlName="branqueamento-dentario" path="-1,1068,1087" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>0</hideInFooter>
      <title><![CDATA[Branqueamento dentário]]></title>
      <metaDescription><![CDATA[Especialistas em branqueamento dentario no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
      <metaKeywords><![CDATA[branqueamento dentario, limpeza dentaria, implantes, aparelhos dentarios]]></metaKeywords>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1003/24dentistas-lisboa-branqueamento-dentario.jpg]]></image>
      <bodyText><![CDATA[<p>Para efetuar o tratamento, o dentista aplica um gel branqueador nos dentes, protege as gengivas e lábios, e aplica um feixe de luz azul para ativar o gel branqueador. Os olhos estão também protegidos por uns óculos especiais. Este tratamento demora cerca de uma hora.</p>
<p>Antes de efetuar o<strong> branqueamento dentário</strong> é conveniente efetuar uma limpeza aos dentes. Algumas manchas e tártaro são imediatamente removidos através de uma simples limpeza dentária.</p>
<p>Contudo, a<strong> limpeza dentária</strong> e o <strong>branqueamento dentário</strong> são intervenções completamente diferentes. A limpeza dentária incide no exterior dos dentes, enquanto o branqueamento dentário incide no interior dos dentes.</p>
<h3>O tratamento de branqueamento dentário é doloroso?</h3>
<p>Não existem efeitos secundários resultantes do branqueamento dentário. Nas 48 horas após o tratamento o paciente sentirá uma maior sensibilidade dentária.</p>]]></bodyText>
      <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
      <titlePageLink2><![CDATA[Ortodontia]]></titlePageLink2>
      <titlePageLink3><![CDATA[Aparelhos dentarios]]></titlePageLink3>
      <videoUrl><![CDATA[//www.youtube.com/embed/suVdBpeMKdI?list=PLA312498A6F6F36BA]]></videoUrl>
      <imageAltDesc><![CDATA[24dentistas de lisboa servico de branqueamento dentario]]></imageAltDesc>
      <bodyTextShortIntroduction><![CDATA[<p><span class="lead">O <strong>branqueamento dentário</strong> é um tratamento estético que torna os dentes mais brancos e brilhantes. Consiste na descoloração controlada e eliminação de manchas com o objetivo de tornar os dentes mais brancos.</span></p>]]></bodyTextShortIntroduction>
    </umbTextPage>
    <umbTextPage id="1088" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2014-07-05T21:57:47" updateDate="2014-07-24T22:22:43" nodeName="Ortodontia" urlName="ortodontia" path="-1,1068,1088" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>0</hideInFooter>
      <title><![CDATA[Ortodontia]]></title>
      <metaDescription><![CDATA[Especialistas em ortodontia no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
      <metaKeywords><![CDATA[ortodontia, aparelhos dentarios, implantes  prótese, branqueamento]]></metaKeywords>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1004/24dentistas-lisboa-ortodontia.jpg]]></image>
      <bodyText><![CDATA[<p>Quando todos os dentes que estão na posição correta a arcada superior e inferior encaixam perfeitamente. Quando os dentes superiores e inferiores não encaixam perfeitamente diz-se que têm uma má <strong>oclusão dentária</strong>. A má oclusão tem os seguintes efeitos sobre a saúde oral:</p>
<ul>
<li>Dificuldade de limpeza com a possibilidade de se deteriorarem precocemente</li>
<li>Esforço dos músculos de mastigação podendo originar dores de cabeça, ombros e costas</li>
<li>Problemas de dicção</li>
<li>Problemas de auto-estima relacionados com a aparência estética</li>
</ul>
<p>O mau posicionamento dos dentes pode ter diversas causas como por exemplo:</p>
<ul>
<li>Origem hereditária</li>
<li>Perda precoce dos dentes de leite</li>
<li>Uso prolongado da chupeta de tamanho ou formas inadequadas</li>
</ul>
<p>Como saber se necessito de tratamento de ortodontia?</p>
<p>As pessoas que têm os seguinte problemas podem necessitar de um tratamento de ortodontia:</p>
<ul>
<li><strong>Sobremordida</strong> – Os dentes superiores cobrem em demasia os dentes inferiores. Traz problemas mastigatórios e um sorriso desagradável</li>
<li><strong>Mordida cruzada anterior</strong> - ocorre quando os dentes inferiores se sobrepõem aos superiores</li>
<li><strong>Mordida cruzada</strong> - ocorre quando um ou mais dentes da arcada dentária superior se sobrepõe aos dentes da arcada inferior.</li>
<li><strong>Mordida aberta</strong> - os dentes superiores não tocam os dentes inferiores, podendo ocorrer nos dentes da frente, nos dentes do fundo, do lado direito e/ou do lado esquerdo da boca.</li>
<li><strong>Apinhamento</strong> – quando existe pouco espaço para acomodar os dentes na arcada pequena</li>
</ul>
<h3>Tratamentos de ortodontia</h3>
<p>A grande maioria das pessoas tem dentes tortos sem que isso exija necessariamente um tratamento de ortodontia. Contudo, casos mais complicados envolvem tratamentos de ortodontia. Diversas técnicas são utilizadas, tais como, extração de um dente para deixar espaço ao alinhamento dos restantes, ou, intervenções cirúrgicas para corrigir maxilares. A técnica mais comum é a utilização de aparelhos dentários, os quais, exercem pressão constante sobre os dentes para que estes regressem à sua posição correta.</p>
<p>Estes aparelhos dividem-se em duas categorias:</p>
<ul>
<li><strong>Aparelhos dentários removíveis</strong> – constituídos por acessórios que prendem o aparelhos permitindo ao mesmo tempo que seja removível</li>
<li><strong>Aparelhos dentários fixos</strong> – fixam-se com cimento especial aos dentes não permitindo que se removam até o tratamento estar finalizado</li>
</ul>]]></bodyText>
      <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
      <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
      <titlePageLink3><![CDATA[Aparelhos dentarios]]></titlePageLink3>
      <videoUrl><![CDATA[//www.youtube.com/embed/Z1nak2DH8NY?list=PLC19E1256E72795A2]]></videoUrl>
      <imageAltDesc><![CDATA[24dentistas de lisboa servico de ortodontia]]></imageAltDesc>
      <bodyTextShortIntroduction><![CDATA[<p><span class="lead">A <strong>ortodontia</strong> é a especialidade que corrige a posição dos dentes e ossos maxilares. A função da <strong>ortodontia</strong> é o estudo, prevenção e tratamento de problemas de crescimento e desenvolvimento da face.</span></p>]]></bodyTextShortIntroduction>
    </umbTextPage>
    <umbTextPage id="1089" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2014-07-05T22:02:14" updateDate="2014-07-24T22:23:41" nodeName="Aparelhos dentarios" urlName="aparelhos-dentarios" path="-1,1068,1089" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>0</hideInFooter>
      <title><![CDATA[Aparelhos dentários]]></title>
      <metaDescription><![CDATA[Especialistas em aparelhos dentarios no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
      <metaKeywords><![CDATA[aparelhos dentarios, fixos, removiveis, implantes, branqueamento]]></metaKeywords>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1005/24dentistas-lisboa-aparelhos-dentarios.jpg]]></image>
      <bodyText><![CDATA[<p>Além da função estética, o alinhamento dos dentes tem as seguintes vantagens:</p>
<ul>
<li>Maior facilidade na higiene dental</li>
<li>Melhoria da função mastigatória</li>
<li>Melhoria de dicção</li>
<li>Melhoria de auto-estima relacionados com a aparência estética</li>
</ul>
<p>Os aparelhos dentários, colocados sobre os dentes, exercem pressão constante sobre os dentes para que estes regressem à sua posição correta.</p>
<p>Estes aparelhos dividem-se em duas categorias:</p>
<ul>
<li><strong>Aparelhos dentários removíveis</strong> – constituídos por acessórios que prendem o aparelhos permitindo ao mesmo tempo que seja removível</li>
<li><strong>Aparelhos dentários fixos</strong> – fixam-se com cimento especial aos dentes não permitindo que se removam até o tratamento estar finalizado</li>
</ul>
<h3>Quanto tempo dura o tratamento com aparelhos dentários?</h3>
<p>A aplicação de um <strong>aparelho dentário</strong> exige um estudo prévio por parte do dentista. Dependendo da situação, o uso do aparelho dentário pode durar de 12 a 36 meses.</p>
<h3>Os aparelhos dentários causam dor?</h3>
<p>Os <strong>aparelhos dentários</strong> causam algum desconforto nos dias seguintes após a colocação mas não causam dor.</p>
<h3>Qual o preço de um aparelho dentário?</h3>
<p>À colocação de um <strong>aparelho dentário</strong> está associado está associado um estudo prévio. Portanto, a colocação de um aparelho não consiste somente no preço do aparelho em si mas às consultas associadas.</p>
<p>O paciente paga o estudo prévio e o aparelho. Posteriormente, paga as consultas regulares até à finalização do tratamento.</p>
<h3>Como se escovam os dentes com aparelhos dentários?</h3>
<p>Quando se usa um aparelho dentário utiliza-se uma escova especial para escovar os dentes chamadas escovilhões, bem como, produtos específicos de limpeza.</p>]]></bodyText>
      <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
      <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
      <titlePageLink3><![CDATA[Ortodontia]]></titlePageLink3>
      <videoUrl><![CDATA[//www.youtube.com/embed/HP9ZSiLWsjs?list=PLC19E1256E72795A2]]></videoUrl>
      <imageAltDesc><![CDATA[24dentistas de lisboa servico de aparelhos dentarios]]></imageAltDesc>
      <bodyTextShortIntroduction><![CDATA[<p><span class="lead">Os <strong>aparelhos dentários</strong> têm como objetivo corrigir problemas de dentes desalinhados. </span></p>]]></bodyTextShortIntroduction>
    </umbTextPage>
    <umbTextPage id="1090" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-07-05T22:05:08" updateDate="2014-07-24T22:24:32" nodeName="Odontopediatria" urlName="odontopediatria" path="-1,1068,1090" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>0</hideInFooter>
      <title><![CDATA[Odontopediatria]]></title>
      <metaDescription><![CDATA[Especialistas em odontopediatria no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
      <metaKeywords><![CDATA[odontopediatria, saude oral criancas, implantes, aparelhos dentarios]]></metaKeywords>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1006/24dentistas-lisboa-odontopediatria.jpg]]></image>
      <bodyText><![CDATA[<p>O principal objetivo da odontopediatria é a manutenção de uma dentição saudável até atingir a fase adulta.</p>
<h3>Saúde oral 0-3 anos de idade</h3>
<p>A primeira consulta deverá ocorrer no primeiro ano de idade. A higiene oral deve começar com a erupção do primeiro dente. Na consulta são prestadas indicações de como proceder no que diz respeito à saúde oral da criança. Por exemplo, a pasta de dentes utilizada deve apresentar uma concentração de 1000 a 1500 ppm de flúor.</p>
<p>Até aos 3 anos de idade as consultas devem ser anuais</p>
<h3>Saúde oral 3-6 anos de idade</h3>
<p>A dentição decídua fica formada entre os 3 e 5 anos. As consultas devem ser anuais durante este tempo. A erupção dos dentes definitivos inicia-se a partir dos 5 anos, passando a ser necessárias consultas semestrais.</p>
<p>A primeira erupção corre entre os 5 e 6 anos de idade. Nesta fase ocorre o risco de caries nos dentes de leite. O dentista pode decidir colocar selantes nos dentes de leito, consoante o risco de caries que a criança apresente. É importante tratar dentes de leite cariados para manter uma boa saúde oral.</p>
<p>Vários aspetos devem ser tidos em consideração durante esta fase. Por exemplo, a perda precoce de dentes de leite pode originar perdas de espaço e atrasos na erupção de dentes definitivos.</p>
<h3>Saúde oral 6-12 anos de idade</h3>
<p>Durante esta fase processa-se a substituição dos dentes de leite por dentes definitivos. A dentição passa por uma fase mista de dentes de leite dentes definitivos.</p>
<p>A criança deverá começar a cuidar da saúde oral ela própria e deverá ser introduzido o fio dental. As visitas ao dentista deve ocorrer de 6 em 6 meses.</p>
<h3>Saúde oral 12-20 anos de idade</h3>
<p>A partir dos 13 anos a substituição dos dentes está concluída. A próxima erupção são os dentes do siso aos 20 anos.</p>
<p>Nesta fase é importante garantir uma higiene oral cuidada, e controlar o surgimento de caries. Nesta fase, dá-se particular importância a problemas de ortodontia que poderão surgir. As consultas devem ocorrer de 6 em 6 meses.</p>]]></bodyText>
      <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
      <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
      <titlePageLink3><![CDATA[Ortodontia]]></titlePageLink3>
      <videoUrl><![CDATA[//www.youtube.com/embed/cESLdVTCf58?list=PLA312498A6F6F36BA]]></videoUrl>
      <imageAltDesc><![CDATA[24dentistas de lisboa servico de odontopediatria]]></imageAltDesc>
      <bodyTextShortIntroduction><![CDATA[<p><span class="lead">A odontopediatria é o ramo da medicina dentária que cuida da saúde oral das crianças. As crianças têm necessidades específicas no que diz respeito à saúde oral, as quais devem ser adequadas a cada etapa do desenvolvimento da criança.</span></p>]]></bodyTextShortIntroduction>
    </umbTextPage>
    <Mais id="1091" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2014-07-05T22:06:20" updateDate="2014-07-17T16:23:00" nodeName="Mais" urlName="mais" path="-1,1068,1091" isDoc="" nodeType="1083" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1082" nodeTypeAlias="Mais">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInFooter>1</hideInFooter>
      <title><![CDATA[Mais]]></title>
      <umbTextPage id="1092" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2014-07-05T22:12:16" updateDate="2014-07-24T22:25:51" nodeName="Cirurgia oral" urlName="cirurgia-oral" path="-1,1068,1091,1092" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInFooter>0</hideInFooter>
        <title><![CDATA[Cirurgia oral]]></title>
        <metaDescription><![CDATA[Especialistas em cirurgia oral no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
        <metaKeywords><![CDATA[cirurgia oral, implantes, ortodontia, aparelhos dentarios]]></metaKeywords>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/1007/24dentistas-lisboa-cirurgia-oral.jpg]]></image>
        <bodyText><![CDATA[<p>Este tipo de intervenção melhorar significativamente a mastigação, fonética e auto-estima dos pacientes.</p>
<p>A cirurgia oral requere interação com outras especialidades, nomeadamente, a implantologia e ortodontia. É por isso, uma especialidade que exige interação os especialistas de diferentes áreas.</p>
<p>Por exemplo, em casos de complexos de tratamento ortodôntico poderá haver lugar a cirurgias. Este é o caso de deformações dento faciais que exigem cirurgia ortognática. Este tipo de cirurgia exige anestesia geral e requere cortes no osso para melhor posicionamento.</p>
<p>Os tratamentos mais frequentes são extração de dentes, remoção de quistos e tumores, tratamento de dentes inclusos, tratamento de deformações dentárias, tratamento da disfunção da articulação temporo-mandibular.</p>
<p> </p>]]></bodyText>
        <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
        <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
        <titlePageLink3><![CDATA[Ortodontia]]></titlePageLink3>
        <videoUrl><![CDATA[//www.youtube.com/embed/YDIa0ZneasU?list=PL862653653D26366C]]></videoUrl>
        <imageAltDesc><![CDATA[24dentistas de lisboa servico de cirurgia oral]]></imageAltDesc>
        <bodyTextShortIntroduction><![CDATA[<p><span class="lead">A cirurgia oral a especialidade da medicina dentária responsável pelo tratamento cirúrgico de problemas da cavidade oral. É responsável por todos os atos cirúrgicos relacionados com extrações de dentes, por exemplo, com grandes caries, sem suporte ósseo e dentes inclusos nos maxilares. A cirurgia oral é também responsável pela extração de quistos ou tumores.</span></p>]]></bodyTextShortIntroduction>
      </umbTextPage>
      <umbTextPage id="1093" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2014-07-05T22:17:51" updateDate="2014-07-24T22:26:37" nodeName="Periodontologia – gengivites e periodontite" urlName="periodontologia-gengivites-e-periodontite" path="-1,1068,1091,1093" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
        <Comment id="1112" parentID="1093" level="4" creatorID="0" sortOrder="0" createDate="2014-07-17T14:56:22" updateDate="2014-07-17T22:06:38" nodeName="comentario" urlName="comentario" path="-1,1068,1091,1093,1112" isDoc="" nodeType="1100" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1099" nodeTypeAlias="Comment">
          <umbracoNaviHide>1</umbracoNaviHide>
          <hideInFooter>1</hideInFooter>
          <name><![CDATA[Rui Nunes]]></name>
          <email><![CDATA[rui_jose_nunes@hotmail.com]]></email>
          <comment><![CDATA[Aqui vai mais um comentários]]></comment>
          <dateAndTime><![CDATA[17/07/2014 14:56]]></dateAndTime>
        </Comment>
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInFooter>0</hideInFooter>
        <title><![CDATA[Periodontologia – gengivites e periodontite]]></title>
        <metaDescription><![CDATA[Especialistas em periodontologia no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
        <metaKeywords><![CDATA[periodontologia , gengivites, periodontite, cirurgia oral, inflamacao gengiva]]></metaKeywords>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/1008/24dentistas-lisboa-periodontologia-gengivites.jpg]]></image>
        <bodyText><![CDATA[<p>As doenças periodontais estão normalmente relacionadas com acumulação de bactérias na boca. A acumulação de placa bacteriana entre a gengiva e os dentes provoca uma inflamação que destrói os tecidos do periodonto.</p>
<p>A inflamação da gengiva devido à acumulação de bactérias dá origem uma <strong>gengivite</strong>. Se não for devidamente tratada, <strong>gengivite</strong> pode evoluir para uma <strong>periodontite</strong> se as bactérias atingirem o osso.</p>
<p>Estados avançados desta doença pode necessitar de intervenção cirúrgica.</p>]]></bodyText>
        <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
        <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
        <titlePageLink3><![CDATA[Ortodontia]]></titlePageLink3>
        <videoUrl><![CDATA[//www.youtube.com/embed/hTlgHMmGqxI?list=PLA312498A6F6F36BA]]></videoUrl>
        <imageAltDesc><![CDATA[24dentistas de lisboa servico de periodontologia - tratamento de gengivites]]></imageAltDesc>
        <bodyTextShortIntroduction><![CDATA[<p><span class="lead"><strong>Periodonto</strong> são os tecidos envolvidos na fixação do dente ao osso. Trata-se de uma estrutura dinâmica composta por tecidos que apoiam e envolvem o dente (gengiva, ligamento periodontal, osso alveolar, Cemento). <strong>Periodontologia</strong> é a especialidade que lida com doenças no <strong>periodonto</strong>.</span></p>]]></bodyTextShortIntroduction>
      </umbTextPage>
      <umbTextPage id="1094" parentID="1091" level="3" creatorID="0" sortOrder="2" createDate="2014-07-05T22:23:43" updateDate="2014-07-24T22:27:14" nodeName="Prostodontia reparacao dentes partidos" urlName="prostodontia-reparacao-dentes-partidos" path="-1,1068,1091,1094" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInFooter>0</hideInFooter>
        <title><![CDATA[Prostodontia – reparação de dentes partidos]]></title>
        <metaDescription><![CDATA[Especialistas em prostodontia no centro de Lisboa. Equipa experiente e profissional. Ambiente acolhedor.]]></metaDescription>
        <metaKeywords><![CDATA[prostodontia, reparacao dentes partidos]]></metaKeywords>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/1009/24dentistas-lisboa-prostodontia-dentes-partidos.jpg]]></image>
        <bodyText><![CDATA[<p>Existem várias possibilidades para a reconstrução de dentes. Por exemplo, dentes danificados mas com raízes em boas condições requerem a aplicação de <strong>coroas</strong>, as quais são ligadas aos dentes destruídos ou raízes. Estas coroas em<strong> cerâmica de alumina ou zircónia</strong> são estiticamente muito agradáveis, permitindo recuperar a função mastigatória e melhorar a dicção.</p>
<p>O mais adequado para dentes com um pequeno desgaste são as facetas. Estas laminas de cerâmica permitem melhorar a forma do dente.</p>]]></bodyText>
        <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
        <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
        <titlePageLink3><![CDATA[Ortodontia]]></titlePageLink3>
        <videoUrl><![CDATA[//www.youtube.com/embed/5F9HKHHqzWs?list=PLEC6E8CBFF13D2358]]></videoUrl>
        <imageAltDesc><![CDATA[24dentistas de lisboa servico de prostodontia - tratamento de dentes partidos]]></imageAltDesc>
        <bodyTextShortIntroduction><![CDATA[<p><span class="lead">A <strong>prostodontia</strong> é a especialidade responsável pela reconstrução de dentes partidos ou danificados, devolvendo o respetivo aspeto estético e funcional de outrora.</span></p>]]></bodyTextShortIntroduction>
      </umbTextPage>
      <umbTextPage id="1095" parentID="1091" level="3" creatorID="0" sortOrder="3" createDate="2014-07-05T22:26:01" updateDate="2014-07-24T22:28:23" nodeName="Higiene oral" urlName="higiene-oral" path="-1,1068,1091,1095" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInFooter>0</hideInFooter>
        <title><![CDATA[Higiene oral]]></title>
        <metaDescription><![CDATA[Clinica dentária situada no centro de Lisboa que presta todo o tipo de tratamentos dentários em Lisboa. Com profissionais competentes e num ambiente acolhedor, destaca-se pelo serviço de implantes, branqueamento, ortodontia e odontopediatria.]]></metaDescription>
        <metaKeywords><![CDATA[higiene oral, placa bacteriana, bacterias dentes e gengivas]]></metaKeywords>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/1010/24dentistas-lisboa-higiene-oral.jpg]]></image>
        <bodyText><![CDATA[<p>Deve ir ao dentista se as gengivas sangram ou doem ao escovar os dentes ou fio dentário, ou se apresenta mau hálito constante. A falta de higiene está na origem da maior parte de problemas da sua boca.</p>
<p>O principal objetivo da higiene oral é a remoção da placa bacteriana da superfície dos dentes.</p>
<h3>O que é a placa bacteriana?</h3>
<p>A placa bacteriana é uma película aderente constituída por bactérias, que se forma sobre os dentes e gengivas. Estas bactérias são as responsáveis por a grande maioria de doenças da boca, nomeadamente, a carie e doenças periodontais.</p>
<p>Se não for removida, a placa bacteriana mineraliza transformando-se em tártaro. Para remover o tártaro é necessário a intervenção de um dentista.</p>
<h3>Como sei que tenho placa bacteriana?</h3>
<p>As bactérias que formam a placa bacteriana encontram-se inevitavelmente na boca do ser humano. Estas bactérias alimentam-se dos alimentos que ingerimos e da saliva. A presença de hidratos de carbono (açúcar) potencia o dano que a placa bacteriana exerce sobre os dentes, ao produzirem-se ácidos que deteriora os esmalte dos dentes, abrindo caminho para o aparecimento de caries.</p>
<h3>Como posso evitar que a placa bacteriana se forme?</h3>
<p>Para evitar que se acumulem grandes quantidade de bactérias são necessários os seguintes cuidados de higiene oral:</p>
<ul>
<li>Escovar os dentes duas vezes por dia</li>
<li>Usar diariamente o fio dentário para remover a placa bacteriana entre os dentes</li>
<li>Evitar o consumo de alimentos com elevada concentração de açúcares (bolos, bebidas doces, etc)</li>
<li>Utilização de um elixir de bocejo para eliminar a placa bacteriana</li>
<li>Utilizar um dentífrico com 1000 a 1500 ppm de flúor</li>
</ul>]]></bodyText>
        <titlePageLink1><![CDATA[Implantes dentarios]]></titlePageLink1>
        <titlePageLink2><![CDATA[Branqueamento dentario]]></titlePageLink2>
        <titlePageLink3><![CDATA[Ortododontia]]></titlePageLink3>
        <videoUrl><![CDATA[//www.youtube.com/embed/qx1gSxAnfYY?list=PLF6DF8C3778E9C1D0]]></videoUrl>
        <imageAltDesc><![CDATA[24dentistas de lisboa cuidados de higiene oral]]></imageAltDesc>
        <bodyTextShortIntroduction><![CDATA[<p><span class="lead">Uma correta higiene oral remove eficazmente os restos de comida dos dentes, impossibilitando que se acumulem bactérias nos dentes e gengivas.</span></p>]]></bodyTextShortIntroduction>
      </umbTextPage>
      <umbTextPage id="1115" parentID="1091" level="3" creatorID="0" sortOrder="4" createDate="2014-07-24T22:39:44" updateDate="2014-07-24T22:39:44" nodeName="Cheque-dentista" urlName="cheque-dentista" path="-1,1068,1091,1115" isDoc="" nodeType="1059" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInFooter>0</hideInFooter>
        <title><![CDATA[Cheque-dentista]]></title>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/1023/2012_8_9_16_32_3_187_hinh_kham_rang.jpg]]></image>
        <bodyText><![CDATA[<p>Após a aprovação, é-lhe dado a escolher receber o seu cheque-dentista pelo correio, ou, poderá levanta-lo no seu centro de saúde.</p>
<p>A emissão de cheques-dentistas posteriores à primeira emissão depende do plano de tratamentos estabelecidos para cada doente.</p>
<p>Os tratamentos cobertos são os seguintes:</p>
<ul>
<li>Extrações</li>
<li>Destartizações</li>
<li>Desvitalizações</li>
<li>Restaurações</li>
</ul>
<p>Os cheques-dentista não podem ser usados para pagar parte de um tratamento nem para o pagamento de próteses. Contudo, quem recebe o complemento solidário para idosos tem direito a reembolso de parte da despesa com próteses.</p>
<p>Os cheques-dentista estão disponíveis aos seguintes extratos populacionais:</p>
<ul>
<li>Idosos</li>
<li>Grávidas</li>
<li>Jovens</li>
</ul>]]></bodyText>
        <imageAltDesc><![CDATA[24 dentistas de lisboa cheque dentista]]></imageAltDesc>
        <bodyTextShortIntroduction><![CDATA[<p><span class="TextRun SCX243513142" style="line-height: 18px; font-family: Calibri,Sans-Serif; font-size: 11pt;"><span class="NormalTextRun SCX243513142" style="background-color: inherit;">O cheque-dentista tem por objetivo alargar os cuidados de saúde oral à toda a população, assim como promover os cuidados de saúde oral. O cheque-dentista é disponibilizado pelo médico de família, ou, médico assistente no centro de saúde da sua área. <br /><br /></span></span></p>]]></bodyTextShortIntroduction>
      </umbTextPage>
    </Mais>
    <Contactpage id="1098" parentID="1068" level="2" creatorID="0" sortOrder="7" createDate="2014-07-06T19:35:10" updateDate="2014-07-17T16:23:33" nodeName="Contacte-nos" urlName="contacte-nos" path="-1,1068,1098" isDoc="" nodeType="1097" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1096" nodeTypeAlias="Contactpage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInFooter>1</hideInFooter>
      <title><![CDATA[Contacte-nos]]></title>
      <mainTitle><![CDATA[Contacte-nos]]></mainTitle>
      <thankYouPage>1111</thankYouPage>
    </Contactpage>
    <ThankYouPage id="1111" parentID="1068" level="2" creatorID="0" sortOrder="8" createDate="2014-07-16T14:58:55" updateDate="2014-07-17T16:23:45" nodeName="Obrigado" urlName="obrigado" path="-1,1068,1111" isDoc="" nodeType="1110" creatorName="Rui Nunes" writerName="Rui Nunes" writerID="0" template="1109" nodeTypeAlias="ThankYouPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInFooter>1</hideInFooter>
      <title><![CDATA[Obrigado]]></title>
      <thankYouText><![CDATA[Entraremos em contacto assim que possivel]]></thankYouText>
    </ThankYouPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideInFooter>0</hideInFooter>
    <title><![CDATA[Dentistas de Lisboa]]></title>
    <metaDescription><![CDATA[Clinica dentária situada no centro de Lisboa que presta todo o tipo de tratamentos dentários em Lisboa. Com profissionais competentes e num ambiente acolhedor, destaca-se pelo serviço de implantes, branqueamento, ortodontia e odontopediatria.]]></metaDescription>
    <metaKeywords><![CDATA[Implantes, branqueamento, dentista Lisboa, ortodontia, odontopediatria]]></metaKeywords>
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/umbracoblog]]></rssLink>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[Profissionais competentes]]></bannerHeader>
    <bannerBackgroundImage><![CDATA[/media/1021/24dentistas-lisboa-competentes.jpg]]></bannerBackgroundImage>
    <hideBanner2>0</hideBanner2>
    <bannerHeader2><![CDATA[Clientes satisfeitos]]></bannerHeader2>
    <bannerBackgroundImage2><![CDATA[/media/1022/24dentistas-lisboa-confianca.jpg]]></bannerBackgroundImage2>
    <hideBanner3>0</hideBanner3>
    <bannerHeader3><![CDATA[Ambiente simpático e acolhedor]]></bannerHeader3>
    <bannerBackgroundImage3><![CDATA[/media/1020/24dentistas-lisboa-simpatia.jpg]]></bannerBackgroundImage3>
    <siteName><![CDATA[Dentistas de Lisboa]]></siteName>
    <byline><![CDATA[Qualidade e confiança]]></byline>
    <copyright><![CDATA[Flexiqual]]></copyright>
    <titleDifferentiator1><![CDATA[As técnicas mais avançadas]]></titleDifferentiator1>
    <descriptionDifferentiator1><![CDATA[<p>Utilizando sempre as técnicas mais avançadas, na clinica 24 Dentistas de Lisboa terá garantia de um tratamento ajustado ao seu caso. Os nossos profissionais particpam regularmente em ações de formação, de forma a estarem constantemente atualizadas com as mais recentes técnicas. O equipamente da nossa clinica é regularmente melhorado de forma a que os nossos profissionais lhe possam prestar um tratamento com as técnicas mais avançadas.<br /><br /></p>]]></descriptionDifferentiator1>
    <titleDifferentiator2><![CDATA[Ambiente acolhedor]]></titleDifferentiator2>
    <titleDifferentiator3><![CDATA[Profissionalismo]]></titleDifferentiator3>
    <descriptionDifferentiator2><![CDATA[<p>A clinica 24 Dentistas de Lisboa foi cuidadosamente pensda de forma a que se sinta confortável e relaxado. Uma ida ao dentista é, para muitas pessoas, um motivo de desconforto. Na clinica 24 Dentistas de Lisboa sabemos isso e preparámos a nossa clinica para se sinta bem. Os nosso profissionais são simpáticos e relaxados o que faz com que se sinta em casa.<br /><br /></p>]]></descriptionDifferentiator2>
    <descriptionDifferentiator3><![CDATA[<p>Na clinica 24 Dentistas de Lisboa trabalhamos com rigor e profissionalismo. Os clientes estão cada vez mais exigentes o que nos obriga a sermos cada vez mais exigentes connosco próprios. Na 24 Dentistas de Lisboa encontrará profissionais dedicados, prontos a analisarem em detalhe o seu problema, e definirem um plano de tratamento juntamente consigo.</p>]]></descriptionDifferentiator3>
    <midTitle><![CDATA[24 dentistas de Lisboa]]></midTitle>
    <midTitleSubtitle><![CDATA[A sua clínica dentária de confiança em Lisboa]]></midTitleSubtitle>
  </umbHomePage>
</root>